form.login {
  background-color: var(--body-color);
  box-shadow: var(--box-shadow);
  width: 75%;
  border-radius: 10px;
  overflow: hidden;
}

form.login img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

form.login > .flex > div.forms {
  justify-content: center;
  flex: 50%;
  padding: 30px 40px;
}
form.login > .flex > div.forms > h1 {
  color: var(--font-color);
  margin-top: 20px;
  margin-bottom: 20px;
  text-transform: uppercase;
  letter-spacing: 2px;
}
form.login > .flex > div.forms label {
  color: var(--font-color);
  display: block;
  text-transform: capitalize;
  font-weight: 500;
  font-size: 20px;
}
form.login > .flex > div.forms > .inp {
  background-color: var(--section-color);
  border-radius: 6px;
  gap: 5px;
  padding: 5px 10px;
  margin: 20px 0;
}
form.login > .flex > div.forms > .inp input {
  color: var(--font-color);
  padding: 10px;
  background-color: transparent;
  border: none;
  font-size: 17px;
}
form.login > .flex > div.forms .btn {
  width: 100%;
  display: block;
  font-size: 18px;
  margin-top: 10px;
}
form.login > .flex > div.image {
  flex: 50%;
  background-color: rgba(0, 0, 0, 0.253);
}
form.dashboard-form {
  background-color: var(--body-color);
  padding: 30px;
  box-shadow: var(--box-shadow);
}
form.dashboard-form h1 {
  color: var(--font-color);
  text-transform: capitalize;
  margin-bottom: 30px;
  font-size: 27px;
}
form.dashboard-form > div {
  gap: 30px;
}
form.dashboard-form label {
  text-transform: capitalize;
  font-size: 18px;
  margin-bottom: 15px;
  color: var(--font-color);
  cursor: text;
  width: fit-content;
}
form.dashboard-form .flex-direction {
  flex: 1;
  min-width: 300px;
}

form.dashboard-form .flex-direction .inp {
  border: none;
  padding: 10px;
  font-size: 18px;
  background-color: var(--section-color);
  color: var(--font-color);
}

form.dashboard-form .selecte {
  position: relative;
}
form.dashboard-form .selecte .inp {
  color: #777;
  cursor: pointer;
  position: relative;
}
form.dashboard-form .selecte .inp::before {
  position: absolute;
  content: "\f078";
  font-weight: 900;
  font-family: "Font Awesome 6 Free";
  right: 10px;
  top: 50%;
  font-size: 50%;
  transform: translateY(-50%);
  pointer-events: none;
}
form.dashboard-form .selecte > article {
  background-color: var(--body-color);
  box-shadow: var(--box-shadow);
  position: absolute;
  width: 100%;
  padding: 10px 15px;
  top: 140%;
  opacity: 0;
  z-index: -1;
  pointer-events: none;
  max-height: 400px;
  overflow-y: auto;
}
form.dashboard-form .selecte .inp.active + article {
  opacity: 1;
  z-index: 2;
  pointer-events: all;
  top: 110%;
}
form.dashboard-form .selecte > article h2 {
  color: var(--font-color);
  text-transform: capitalize;
  margin-bottom: 10px;
  cursor: pointer;
  font-size: 18px;
}
form.dashboard-form .selecte > article:hover h2 {
  opacity: 0.5;
}
form.dashboard-form .selecte > article h2:hover {
  opacity: 1;
}
form.dashboard-form input[type="file"] {
  color: var(--font-color);
  font-size: 15px;
}
form.dashboard-form .btn {
  margin-top: 20px;
}
form.dashboard-form button {
  margin-top: 30px;
  font-size: 23px;
  width: 150px;
}
i.password {
  cursor: pointer;
}
